.App {
    box-sizing: border-box;
    height: 100vh;
    background-color: #1F1D2A;
    background-image: url('./images/bg-stars.svg');
    color: white;
}

.pattern-hills {
    background-image: url('./images/pattern-hills.svg');
    background-repeat: no-repeat;
    background-position-y: 100%;
    height: inherit;
    background-size: contain;
    padding-top: 6rem;
}

.row>div>div {
    background-color: #34364F;
    font-size: 4rem;
}

@media only screen and (max: 768px) {
    .row>div>div {
        font-size: 3rem;
    }
}